.post-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #cccccc50;
}

.example-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.post-button-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

textarea {
  width: 300px;
  height: 100px;
}

.full-width-form {
  min-width: 350px;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.image-preview {
  width: 100px;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.image-preview-container {
  border: 2px dashed #cccccc80;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  display: flex;
}

.image-preview-container.valid {
  border: 3px dashed var(--alert-success);
}

.image-preview-container.invalid {
  border: 3px dashed var(--alert-error);
}

.button {
  color: cyan;
  border-color: cyan;
}

.existing-image-preview-container {
  width: 50px;
  margin: 20px;
}

.existing-image-preview {
  width: 50px;
  border-radius: 100%;
}

.snackbar-success {
  background-color: seagreen;
}

.image-input {
  display: hidden;
}
