
<mat-card class="post-form-container">
<form [formGroup]="form" #formRef (submit)="handleSubmitPost()">
  <mat-form-field class="full-width-form">
    <mat-label>Title</mat-label>
    <input 
    type="text" 
    matInput
    #titleInput 
    formControlName="title"
    >
    <mat-error *ngIf="form.get('title').invalid">Title must be greater than 3 characters</mat-error>
  </mat-form-field>
  <div>
    <button type="button" mat-stroked-button (click)="openImageSelect()">Add image</button>
      <input 
      hidden 
      (change)="handleImageSelect()"
      class="image-input"
      #imageInput 
      type="file">
  </div>
  <div class="flex-container">
    <div class="image-preview-container" [ngClass]="{valid: form.get('image').valid, invalid: form.get('image').invalid}">
        <img class="image-preview" [src]="imagePreview" [alt]="form.value.title">
    </div>

  <div *ngIf="imagePreview !== '' && form.get('image').invalid">
    <mat-error>Invalid file type</mat-error>
  </div>
  
</div>
  <mat-form-field class="full-width-form">
 
    <mat-label>Message</mat-label>

    <textarea 
    rows="6" 
    matInput
    placeholder="Ex. I need help with..."
    formControlName="message"
    ></textarea>

    <mat-error *ngIf="form.get('message').invalid">Message must be under 256 characters</mat-error>
    <mat-hint align="start"><strong>Think: would you say this to your mother?</strong> </mat-hint>
    <mat-hint align="end">{{ post?.message.length }} / 256</mat-hint>
  </mat-form-field>
  <div class="post-button-container">
  <button *ngIf="mode === 'create'" type="submit" mat-button color="primary">Post</button>
  <button *ngIf="mode === 'edit'" type="submit"  mat-button color="primary">Edit</button>
   </div> 
</form>

</mat-card>