/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --alert-success: #99cc33;
  --alert-error: #cc3300;
  --light-gray: #cccccc80;
}

.snackbar-success {
  color: var(--alert-success);
  border: 2px solid var(--alert-success)
}

.snackbar-success button {
  color: var(--alert-success);
  border: 2px solid var(--alert-success);
}

.snackbar-error {
  color: var(--alert-error);
  border: 2px solid var(--alert-error);
}

.snackbar-error button {
  color:var(--alert-error);
  border: 2px solid var(--alert-error);
}