.post {
  width: 500px !important;
  background-color: #cccccc50;
  border-radius: 5px;
  margin: 20px;
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.snackbar-success {
  background-color: seagreen;
}

.post-image-container {
  display: flex;
  justify-content: center;
}

.post-image {
  width: 200px;
  text-align: center;
  margin: 10px;
}