  <mat-accordion *ngIf="!!postList" class="post-container">
    <mat-expansion-panel class="post" *ngFor="let post of postList" 
                          (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ post.title }}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ post.message }}</p> 
      <button mat-button (click)="handleDelete(post)">Delete</button>
      <button mat-button [routerLink]="['edit', post._id]">Edit</button>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="postList.length === 0" class="post-container">
    <p class="post-status"><em>No Posts</em></p>
  </mat-accordion>

